/* src/components/SupportDashboard.css */
.support-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Modal acima de outros elementos */
}

.support-modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.support-modal h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.login-form, .chat-messages {
  flex-grow: 1; /* Expande para preencher o espaço disponível */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form label {
  margin-bottom: 10px;
}

.login-form input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

.login-form button {
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .support-modal {
    width: 90%;
    max-width: none; /* Remove o limite máximo em telas pequenas */
  }
}
