/* SupportDashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: row;
}

.chat-list {
  width: 25%;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.chat-detail {
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 80%;
  clear: both;
}

.message.support {
  background-color: #007bff;
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.message.client {
  background-color: #f1f1f1;
  align-self: flex-start;
  margin-right: auto;
}

.response-area {
  display: flex;
  flex-direction: column;
}

.response-area textarea {
  flex: 1;
  resize: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.response-area button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px; /* Espaçamento entre botões */
}

.response-area button:last-child {
  margin-bottom: 0; /* Remove a margem inferior do último botão */
}

.chat-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-item:hover {
  background-color: #f1f1f1;
}

h1, h2 {
  font-size: 16px;
  margin: 0;
  padding: 10px 0;
}

h1 {
  font-size: 24px;
  border-bottom: 2px solid #007bff;
}

h2 {
  font-size: 18px;
}
