/* style.css */

/* Estilos ajustados para o container do chat */
#chatContainer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 380px; /* Ajuste o tamanho conforme necessário */
    max-width: 80%; /* Limita o tamanho máximo para responsividade */
    max-height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    z-index: 999;
}

#chatHeader {
    background-color: #007bff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatHeader h3 {
    margin: 0;
    font-size: 18px;
}

#closeChatButton {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#chatMessages {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

#messageInput {
    width: calc(100% - 20px); /* Ajuste conforme necessário */
    padding: 8px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

#sendButton {
    padding: 8px 20px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* Estilos ajustados para as mensagens */
.message {
    padding: 10px;
    clear: both;
    overflow: hidden;
}

.user-message {
    background-color: #007bff;
    color: white;
    float: left;
    margin-right: 50%;
    border-radius: 5px;
}

.server-message {
    background-color: #e9ecef;
    float: right;
    margin-left: 50%;
    border-radius: 5px;
}

.message-sender {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.message-content {
    margin-top: 5px;
}

/* Estilos ajustados para o botão flutuante */
#toggleChatButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;
    border-radius: 2em;
    padding: 13px;
}

/* Ocultar o chat compacto */
#chatContainer[hidden] {
    max-height: 0;
}
