/* src/components/ChatModal.css */
.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
  width: 150px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat-modal {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 400px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
}

.chat-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #007bff;
  border-radius: 10px 10px 0 0;
  height: 12.5%;
}

.close-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
}

.chat-modal-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.feedback-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.feedback-buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}